@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-destructive: var(--destructive);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;

  /* modo claro (inspirado em Dracula Soft) */
  --background: #f8f8f2;
  --foreground: #282a36;
  --card: #ffffff;
  --card-foreground: #282a36;
  --popover: #ffffff;
  --popover-foreground: #282a36;
  --primary: #6272a4;
  --primary-foreground: #f8f8f2;
  --secondary: #bd93f9;
  --secondary-foreground: #282a36;
  --muted: #e9e9ef;
  --muted-foreground: #44475a;
  --accent: #ff79c6;
  --accent-foreground: #f8f8f2;
  --destructive: #ff5555;
  --border: #dcdce0;
  --input: #dcdce0;
  --ring: #bd93f9;
}

.dark {
  /* modo Dracula clássico */
  --background: #282a36;
  --foreground: #f8f8f2;
  --card: #343746;
  --card-foreground: #f8f8f2;
  --popover: #343746;
  --popover-foreground: #f8f8f2;
  --primary: #bd93f9;
  --primary-foreground: #282a36;
  --secondary: #6272a4;
  --secondary-foreground: #f8f8f2;
  --muted: #44475a;
  --muted-foreground: #f8f8f2;
  --accent: #ff79c6;
  --accent-foreground: #282a36;
  --destructive: #ff5555;
  --border: #44475a;
  --input: #44475a;
  --ring: #8be9fd;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
